* {
    box-sizing: border-box;
}

.range-steps {
    display: flex;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    justify-content: space-between;

    color: var(--color-muted);
}

.range-steps>* {
    display: flex;
    justify-content: center;
    width: 0;
}

.range-steps>*:first-child {
    justify-content: start;
    transform: translateX(-.25rem);
}

.range-steps>*:last-child {
    justify-content: end;
    transform: translateX(.25rem);
}

.hero {
    border-radius: 160px;
}

.h1-accueil {
    font-size: 5rem;
}

.container {
    max-width: 1024px;
}

.h2-conformation {
    font-size: 5rem;
}